.solbox input::placeholder {

  opacity: 0.5;
  font-size: 30px;
}

.solinput{
      font-size: 30px;
      font-weight: 500;
}
.eth{
  
}

.btcicon{
  font-size: 40px;
  background-color: #1E90FF;
  border-radius: 50%;

}